body {
    position: relative;
}

.pix_foobar_section {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    /*background: #192965;*/
    /*-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);*/
    /*        clip-path: polygon(100% 0, 100% 100%, 0 100%);*/
    width: 100%;
    height: auto;
}

.pix_foobar_section .cus_container {
    max-width: 1200px;
    margin: 0 auto;
}

.pix_foobar_wrapper {
    padding: 100px 0 30px 600px;
    text-align: right;
    position: relative;
    z-index: 22;
}

.pix_foobar_wrapper p {
    margin: 0;
}


/* template_2 shape */

/*.pix_foobar_section.template_2 {*/
/*    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);*/
/*            clip-path: polygon(0 0, 100% 100%, 0 100%);*/
/*}*/
/*.pix_foobar_section.template_2 {*/
/*    position: relative;*/
/*}*/

.pix_foobar_section.template_1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 1920px solid #dadada;
}

.pix_foobar_section.template_2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 1900px solid #dadada;
    border-bottom: 0 solid transparent;
}

.pix_foobar_section.template_3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 1920px solid #dadada;
}


.pix_foobar_section.template_3:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 1900px solid #a92c2c;
    border-bottom: 0 solid transparent;
}


.pix_foobar_section.template_2 .pix_foobar_wrapper {
    text-align: left;
    padding: 100px 600px 30px 0;
    z-index: 22;
    position: relative;
}

/* Cross fill shape */

/*.pix_foobar_section.template_5::after,*/
/*.pix_foobar_section.template_5::before,*/
/*.pix_foobar_section.template_3::after,*/
/*.pix_foobar_section.template_3::before {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #8e4725;*/
/*    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);*/
/*    clip-path: polygon(0 0, 100% 100%, 0 100%);*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*}*/

/*.pix_foobar_section.template_5::before {*/
/*    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);*/
/*    clip-path: polygon(100% 0, 100% 100%, 0 100%);*/
/*}*/

/*.pix_foobar_section.template_5,*/
/*.pix_foobar_section.template_3 {*/
/*    background: none;*/
/*    -webkit-clip-path: unset;*/
/*    clip-path: unset;*/
/*}*/

/* Cross/template_3 shape */

/*.pix_foobar_section.template_3::after {*/
/*    -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);*/
/*    clip-path: polygon(0 0, 100% 100%, 0 100%);*/
/*    z-index: -2;*/
/*}*/

/*.pix_foobar_section.template_3::before {*/
/*    background: #fd5e53;*/
/*    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);*/
/*    clip-path: polygon(100% 0, 100% 100%, 0 100%);*/
/*}*/

/* template_4 */
.pix_foobar_section.template_4 {
    background: #cccccc;
}

.pix_foobar_section.template_4 .pix_foobar_wrapper {
    padding: 50px 0;
}

/* template_5 */
.pix_foobar_section.template_5 .pix_foobar_wrapper {
    padding: 0;
    text-align: unset;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.pix_foobar_section.template_5:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 1920px solid #dadada;
}


.pix_foobar_section.template_5:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 200px solid transparent;
    border-left: 1900px solid #dadada;
    border-bottom: 0 solid transparent;
}

.pix_foobar_section.template_5 .pix_foobar_wrapper .pix_foobar_inner {
    width: 48%;
    padding: 130px 0 50px;
}

.pix_foobar_section.template_5 .pix_foobar_wrapper .pix_foobar_inner.right {
    text-align: right;
}

/*  template_6 */

.pix_foobar_section.template_4.template_6 .pix_foobar_wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
}

.pix_foobar_section.template_4.template_6 .pix_foobar_wrapper .pix_foobar_img {
    width: 30%;
    text-align: left;
    position: relative;
}

.pix_foobar_section.template_4.template_6 .pix_foobar_wrapper .pix_foobar_img img {
    position: absolute;
    bottom: 0;
    max-height: 300px;
    left: 0;
}

.pix_foobar_section.template_4.template_6 .pix_foobar_wrapper .pix_foobar_inner {
    width: 65%;
    padding: 50px 0;
}

/* img flip */

.pix_foobar_section.template_4.template_6.img_flip .pix_foobar_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.pix_foobar_section.template_4.template_6.img_flip .pix_foobar_wrapper .pix_foobar_img {
    text-align: right;
}

.pix_foobar_section.template_4.template_6.img_flip .pix_foobar_wrapper .pix_foobar_inner {
    text-align: left;
}

.pix_foobar_section.template_4.template_6.img_flip .pix_foobar_wrapper .pix_foobar_img img {
    right: 0;
    left: auto;
}


/* Responsive CSS */

@media (max-width: 1199px) {
    .pix_foobar_section .cus_container {
        max-width: 960px;
    }
}

@media (max-width: 1199px) {
    .pix_foobar_section .cus_container {
        max-width: 700px;
    }
}

@media (max-width: 767px) {
    .pix_foobar_section .cus_container {
        max-width: 100%;
        margin: 0 15px;
    }

    .pix_foobar_section.template_4.template_6 .pix_foobar_wrapper .pix_foobar_img {
        display: none;
    }

    .pix_foobar_section.template_4.template_6 .pix_foobar_wrapper .pix_foobar_inner {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

}
