/*#pixelsigns-ffb-settings-page-wrap div.pixelsigns-ffb-template-selector {*/
/*	border: 0 solid #000;*/
/*	max-width: 720px;*/
/*}*/
.pixelsigns-ffb-template-selector {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.pixelsigns-ffb-template-item {
    /*border: 0px solid #000;*/
    /*min-height: 120px;*/
    /*margin-right: 10px;*/
    /*margin-bottom: 10px;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*margin: 10px 0;*/

    border: 0 solid #000;
    width: 16.16%;
    padding: 0;
}
.pixelsigns-ffb-template-item input[type="radio"] {
	vertical-align: top;
}
.pixelsigns-ffb-template-item label {
    margin-left: 5px;
}
.upload_preview {
    width: 150px;
    height: auto;
}

.pixelsigns-ffb-template img {
    /*width: 100%;*/
    /*height: 150px;*/
    width: 100%;
}

/*#pixelsigns-ffb-settings-page-wrap div.pixelsigns-ffb-template-selector {*/
/*    max-width: 1000px;*/
/*}*/

.pixelsigns-ffb-template-item input[type=radio]:checked + label {
    box-shadow: 0 5px 30px rgba(0,0,0,0.1);
    border-color: #590D82;
}

.pixelsigns-ffb-template-item label {
    border: 2px solid #dadada;
    display: block;
    height: auto;
    padding: 4px 4px 0 4px;
    transition: all 0.3s ease-in-out;
}

.pixelsigns-ffb-template-item input[type="radio"] {
    display: none;
}













.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}